.fancybox-bg{
  background: white;
}
.fancybox-is-open .fancybox-bg{
  opacity: 1;
}

:root{
  --green: #02A68F;
  --black: #022334;
  --gray: #DDDDDD;
  --gray-light: #F3F4F9;
  --gray-dark: #646E84;
  --red: #E32726;
  --blue: #3E77AA;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~Ui-kid~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.btn{
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 17px 27px;
  text-align: center;
  transition: all .3s;
  background: var(--green);
  border: 2px solid var(--green);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover{
    background: white;
    color: var(--green);
  }
  &-white{
    background: white;
    color: var(--green);
    &:hover{
      background: var(--green);
      color: white;
    }
  }
  &.disabled{
    pointer-events: none;
    opacity: .7;
  }
  &-facebook{
    background: #4267B2;
    border-color: #4267B2;
  }
  &-google{
    background: #4688F1;
    border-color: #4688F1;
  }
  &-social{
    padding: 10px 25px;
    font-weight: 500;
    min-height: 60px;
    .icon{
      margin-right: 10px;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: flex-end;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    span{
      font-size: 16px;
      line-height: 20px;
    }
  }
  &-close{
    background: none;
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover path{
      fill: var(--green);
    }
  }
}

.form{
  &-group {
    display: flex;
    justify-content: space-between;
  }
  &-label{
    display: block;
    margin-bottom: 25px;
  }
  &-caption{
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 5px;
  }
  &-input{
    font-size: 16px;
    line-height: 20px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 19px 14px;
    width: 100%;
    outline: none;
    transition: all .2s;
    &:focus{
      border-color: var(--green);
    }
  }
  &-error{
    margin-top: 5px;
    color: var(--red);
    font-weight: bold;
    display: none;
    &.error{
      display: block;
    }
  }
  &-confirm{
    position: relative;
    display: flex;
    cursor: pointer;
    input{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &:checked ~ .form-checkbox{
        background: var(--green);
        &:after{
          opacity: 1;
        }
      }
    }
  }
  &-actions{
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }
  &-text{
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-dark);
    a{
      color: var(--blue);
      cursor: pointer;
    }
  }
  &-checkbox{
    min-width: 17px;
    height: 17px;
    background: var(--gray-light);
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    transition: all .2s;
    position: relative;
    &:after{
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../../images/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0;
    }
  }
  &-link{
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-dark);
    text-decoration: underline;
    margin: 10px 0 auto auto;
    display: block;
    width: max-content;
    transition: all .2s;
    cursor: pointer;
    &:hover{
      color: var(--green);
    }
  }
  &-before {
    display: block;
  }
  &-after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 12px 27px;
    &-social .icon {
      margin-right: 15px;
    }
  }
  .form {
    &-group {
      flex-direction: column;
    }
    &-label {
      margin-bottom: 20px;
    }
    &-actions {
      margin-top: 25px;
    }
  }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~Popup~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.popup{
  background: white;
  box-shadow: 0px 6px 87px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 690px;
  width: 100%;
  position: relative;
  left: 0;
  padding: 80px 90px;
  display: none;
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 18px;
    background: var(--green);
    left: 0;
    top: 0;
  }
  &-nav{
    border: 2px solid var(--green);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
    &:before {
      position: absolute;
      content: '';
      height: 90%;
      width: 2px;
      background: var(--green);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .btn{
      width: 48%;
      color: var(--black);
      background: white;
      border-color: white;
      &:hover,
      &.active{
        color: var(--green);
      }
    }
  }
  &-form{
    display: none;
    min-height: 270px;
    &.active{
      display: block;
    }
    &.success{
      .form-before{
        display: none;
      }
      .form-after{
        display: block;
      }
    }
  }
  &-social{
    margin-top: 50px;
    &-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: var(--gray-dark);
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
      span{
        padding: 0 10px;
        background: white;
        position: relative;
        z-index: 1;
      }
    }
    &-actions{
      display: flex;
      justify-content: center;
      margin-top: 45px;
    }
    .btn{
      min-width: 180px;
      justify-content: center;
      &:first-child{
        margin-right: 30px;
      }
    }
  }
  .fancybox-close-small{
    right: 20px;
    top: 30px;
    padding: 5px;
    &:hover{
      color: var(--green);
    }
  }
  .password-text {
    width: 75%;
    margin-bottom: 20px;
  }
  .success-text{
    width: 90%;
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px){
  .popup{
    padding: 30px 15px;
    &:before{
      height: 15px;
    }
    &-nav{
      margin: 30px 0 20px;
    }
    &-social {
      margin-top: 25px;
      .btn{
        min-height: 50px;
        &:first-child{
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      &-actions{
        margin-top: 25px;
        flex-direction: column;
      }
    }
    .fancybox-close-small {
      right: 5px;
      top: 15px;
    }
  }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~Cart~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.cart{
  margin-top: 90px;
  &-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 12px;
  }
  &-caption{
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
  }
  &-box{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }
  &-link{
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-dark);
    text-decoration: underline;
    margin-top: 11px;
    display: block;
    cursor: pointer;
    &.open{
      .open{
        display: none;
      }
      .close{
        display: block;
      }
    }
    .close{
      display: none;
    }
  }
  &-list{
    li{
      &:before{
        position: absolute;
        content: '-';
        left: 0;
        top: 0;
      }
      position: relative;
      padding-left: 10px;
      font-size: 14px;
      line-height: 21px;
    }
  }
  &-main{
    width: 60%;
    .item{
      background: white;
      box-shadow: 0px 6px 87px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 30px;
      position: relative;
      display: flex;
      margin-bottom: 20px;
    }
  }
  &-photo{
    width: 150px;
    min-height: 100px;
    height: max-content;
    background: var(--gray-light);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  &-info{
    width: calc(100% - 150px);
    position: relative;
    padding: 10px 0 10px 35px;
    display: flex;
    justify-content: space-between;
    .content{
      width: 100%;
      max-width: 50%;
      &.open{
        .content-inner{
          height: auto;
        }
      }
    }
    .price{
      padding-top: 21px;
      span{
        margin-left: 5px;
      }
    }
    .actions{
      padding-top: 17px;
    }
    .content-inner{
      height: 115px;
      overflow: hidden;
    }
  }
}

.total{
  width: 35%;
  border: 2px solid var(--green);
  border-radius: 10px;
  padding: 30px 40px;
  height: fit-content;
  &-title{
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
  }
  &-list{
    margin-top: 35px;
    li {
      font-size: 16px;
      line-height: 24px;
      display: flex;
      justify-content: space-between;
      color: var(--gray-dark);
      span{
        color: black;
      }
      &:last-child{
        border-top: 1px solid var(--gray);
        margin-top: 8px;
        padding-top: 16px;;
        font-weight: bold;
        color: var(--black)
      }
    }
  }
  &-actions{
    margin: 25px 0;
    display: flex;
    justify-content: center;
    .btn{
      min-width: 125px;
    }
  }
  &-promo{
    margin-top: 45px;
    &.open{
      .total-promo-form{
        display: block;
      }
      .total-promo-title{
        color: var(--green);
        path{
          fill: var(--green);
        }
      }

    }
    &-title{
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all .2s;
      path{
        transition: all .2s;
      }
      &:hover{
        color: var(--green);
        path{
          fill: var(--green)
        }
      }
      .icon{
        margin-right: 5px;
      }
      .info{
        text-decoration: underline;
        margin-top: -5px;
      }
    }
    &-form{
      margin-top: 15px;
      display: none;
      .form{
        display: flex;
        width: 90%;
      }
      .btn{
        font-size: 14px;
        margin-left: -5px;
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .total-promo-form .form {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .cart {
    &-box{
      flex-direction: column;
    }
    &-main{
      width: 100%;
    }
  }
  .total {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .cart {
    margin: 30px 0;
    &-main .item{
      flex-direction: column;
      padding: 15px;
    }
    &-photo {
      width: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      width: 100%;
      padding: 10px 0 10px 0px;
      flex-direction: column;
      .cart-title{
        width: calc(100% - 35px);
      }
      .content {
        max-width: 100%;
      }
      .actions {
        position: absolute;
        top: 0;
        right: 0;
      }
      .price {
        padding-top: 10px;
        .cart-title{
          margin-bottom: 0;
        }
      }
    }
    &-box{
      margin-top: 25px;
    }
  }
  .total{
    padding: 15px;
    &-list {
      margin-top: 15px;
    }
    &-promo {
      margin-top: 25px;
    }
  }
}
